<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link href="/main.css" rel="stylesheet" type="text/css" />

<title>Insert title here</title>
</head>
<body>
	<h1>Ingresar Producto</h1>
	<div style="">
		<form th:action="@{/formProducto}" th:object="${producto}" method="post">
		<label>Nombre del producto: </label>
		<input type= "text" th:field="${producto.nombre}"><br><br>
		<span th:errors = "*{nombre}"></span><br><br>
		
		<label>Descripcion del producto: </label>
		<input type= "text" th:field="*{descripcion}"><br><br>
		<span th:errors = "*{descripcion}"></span><br><br>
		
		<label >Precio del producto: </label>
		<input type= "number" th:field="*{precio}"><br><br>
		<span th:errors = "*{precio}"></span><br><br>
		
		<label>Fecha de vencimiento del producto: </label>
		<input type= "text" th:field="*{vencimiento}" ><br><br>
		<span th:errors = "*{vencimiento}"></span><br><br>
		
		<input type="submit" value="Agregar producto">
		
		</form>
	</div>
</body>
</html>